.projeto__comunidade{
    display: grid;
    grid-template-columns: .88fr 3fr;
    gap: 0;

    @include tablet{
        display: flex;
        flex-direction: column;
        
    }

    
}

.erro{
    width: 30%;
    display: none;
    height: 40px;
    border-radius: 15px;
    background-color: $background-editorSocial;
    text-align: center;
    position: absolute;
    //left: 50%;
    right: 50%;
    transform: translate(-50%, 15%);
<<<<<<< HEAD
    box-shadow: 10px 5px 5px black; ;
=======
    box-shadow: -20px 16px 26px black;
>>>>>>> apply css style for tablet/phone  search field
    transition: left 1s linear ;

    &__mensagem{
         line-height: 40px;
        
    
        
    }
}

.social-conatainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1.5rem;

    @include tablet{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  
    

}


.projeto-codigo--social{
    position: relative;
    max-width: 520px;
    max-height: 464px;
    

    @include tablet{
        max-width: 100%;
        max-height: 100%;
        
    }

    &:hover .projeto-codigo__fechar{
        opacity: 1; 
               
    }

}

.projeto-codigo__fechar{
    opacity: 0; 
    height: 20px;
    width: 20px;  
    position: absolute;
    background-image: url(../../image/fechar.svg);
    right: 10px;
    top: 8px;
    cursor: pointer;
    transition: all .5s ease-in-out;
   
}
.projeto-codigo__container--social{
    max-height: 288px;

    @include tablet{
        max-height:366px;
        
    }
}

.cabecalho__usuario--social{
    display: inline-flex;
}


.projeto-codigo__dados{
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    background-color: $background-editorSocial;
    box-sizing: border-box;

    .projeto-codigo__titulo{
        margin-top: 1.5rem;
        font-size:1.313rem ;
        font-weight: 700;
        line-height: 31,5px;

        
    }

    .projeto-codigo__descricao{
        margin-top: .5rem;
        opacity: .8;
        line-height: 24px;
    }
    
    .descricao__social{
      display: grid;
      grid-template-columns: .2fr .2fr 1fr;
      align-items: center;
      max-height: 176px;
      padding: 0.875rem;

      .social__comentarios{
        background: url(../../image/comments.svg) no-repeat;
        background-size: 20px;
        padding-left: 1.9rem;
        grid-column: 1;
        height: 20px;
        margin-right: 1rem;
        
        

      }

      .social__like{
        background: url(../../image/like.svg) no-repeat;
        background-size: 20px;
        padding-left: 1.9rem;
        grid-column: 2;
        height: 20px;
        justify-self: start;
      }

    }




}