.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        background-image: url(../../image/Logo.svg);
        width: 145px;
        height: 34.05px;
        margin-right:2rem ;
    }

    &__busca {
        flex-grow: 2;
        max-width: 752px;
        height: 56px;
        @include input-text; 
        margin-right:4.1rem;
    }

    &__usuario {
        width: 106px;
        height: 56px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .usuario__foto{
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    
        .usuario__foto {
            font-size: 1rem;
    
        }
    }

}