.cabecalho {
    display: grid;
    grid-template-columns: 0.9fr 2.5fr .9fr ;
    align-items: center;
    gap: 2.5rem;
    

    &__logo {
        background-image: url(../../image/Logo.svg);
        width: 145px;
        height: 34.05px;
        
    }

    &__busca {
        width: 100%;
        flex-grow: 2;
        max-width: 752px;
        height: 56px;
        @include input-text; 
        justify-self: center;
       
    }

    &__usuario {
        justify-self: end;
        width: 106px;
        height: 56px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .usuario__foto{
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    
        .usuario__foto {
            font-size: 1rem;
    
        }
    }

}