.menu-lateral{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 189px;

    @include tablet{
      display: none 
      
      
    }


    &__titulo{
        @include titulos;
    }

    &__item{
        display: flex;
        align-items: center;
        margin:1rem 0 ;
    }
    
    &__item--inativo{
        color: $inactive ;
    }

    &__link{
        border-radius: 16px;
        width: 48px;
        height: 48px;
        margin-right: 1rem;
        transition: opacity .2s linear;
        
        &:hover{
            opacity: .64;

        }
    }

    &__link--editor{
        background: url(../../image/editorAtivo.svg) no-repeat center  $blue-300 ;
    }
    &__link--editor-inativo{
        background: url(../../image/editorAtivo.svg) no-repeat center  $blue-300 ;
        opacity: .16;
    } 
    
    &__link--comunidade{
        background: url(../../image/comunidadeAtivo.svg) no-repeat center  $blue-300;
       
        
    }
    &__link--comunidade-inativo{
        background: url(../../image/comunidadeAtivo.svg) no-repeat center  $blue-300;
        opacity: .16;
        
    } 
}


.menu-flutuante{
    display: none;
    position: absolute;
    opacity: 0;
    right: 0;
    top:55px;
    background-color: $dark-blue;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: -20px 16px 26px black;
    transition: opacity .5s ease-in-out;
    z-index: 0;
    visibility: hidden;

    @include tablet{
        display: flex;
         
        
    }

}

.menu-flutuante--shown{
    visibility: visible;
    opacity: 1;
    z-index: 2;
}