.menu-lateral{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 189px;
    margin-right: 8.9%;

    &__titulo{
        @include titulos;
    }

    &__item{
        display: flex;
        align-items: center;
        margin:1rem 0 ;
    }
    
    &__item--inativo{
        color: $inactive ;
    }

    &__link{
        width: 48px;
        height: 48px;
        margin-right: 1rem;
    }

    &__link--editor{
        background: url(../../image/editorAtivo.png);
    }

    &__link--comunidade{
        background: url(../../image/comunidade.png);
        
    }
}