.menu-lateral{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 189px;

    &__titulo{
        @include titulos;
    }

    &__item{
        display: flex;
        align-items: center;
        margin:1rem 0 ;
    }
    
    &__item--inativo{
        color: $inactive ;
    }

    &__link{
        border-radius: 16px;
        width: 48px;
        height: 48px;
        margin-right: 1rem;
        transition: opacity .2s linear;
        
        &:hover{
            opacity: .64;

        }
    }

    &__link--editor{
        background: url(../../image/editorAtivo.svg) no-repeat center  $blue-300 ;
    }
    &__link--editor-inativo{
        background: url(../../image/editorAtivo.svg) no-repeat center  $blue-300 ;
        opacity: .16;
    } 
    
    &__link--comunidade{
        background: url(../../image/comunidadeAtivo.svg) no-repeat center  $blue-300;
       
        
    }
    &__link--comunidade-inativo{
        background: url(../../image/comunidadeAtivo.svg) no-repeat center  $blue-300;
        opacity: .16;
        
    } 
}