$blue-100: #96B9FD;
$blue-200: #7BA4FC;
$blue-300: #5081FB;
$dark-blue: #051D3B;
$dark-gray: #141414;
$white: #FFFFFF;
$inactive:#919ca9;
$background-gray:rgba(255, 255, 255, 0.16);
$background-button: rgba(80, 129, 251, 0.08);
$background-editorSocial: rgba(0, 0, 0, 0.16);


@mixin input-text {
    border-radius: 8px;
    font-size: 1rem;
    background: $background-gray;
    border: none;
    outline: none;
    padding: 1rem;
    color: inherit;
    box-sizing: border-box;
}

@mixin titulos {
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;

}

@mixin botao {
    border-radius: 8px;
    padding: 1rem;
    border: none;
    line-height: 1.5rem;
    font-size: 1rem;
    cursor: pointer
}

@mixin circulos ($color, $left, $right) {
    background-color: $color;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: $left;
    margin-right: $right;
  
}

@mixin monitor {
    @media (min-width: 1440px) {@content}
    
}
@mixin tablet {
    @media (max-width: 900px) {@content}
    
}

@mixin phone {
    @media (max-width: 460px) {@content}
    
}



@import 'header', 'project', 'sidebar-left', 'sidebar-right', 'editor-codes', 'community', 'error';


body {
    background-color: $dark-blue;
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 2rem;
    border-radius: 40px;
    position: relative;
    overflow-x: hidden;

    @include phone{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    @include monitor{
        max-width: 1376px ;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }


}