/* Error: expected "{".
 *    ,
 * 27 |     box-shadow: 10px 5px 5px black; ;
 *    |                                   ^
 *    '
 *   src/style/sass/_community.scss 27:35  @import
 *   src/style/sass/style.scss 67:79       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 27 \2502      box-shadow: 10px 5px 5px black; ;\a    \2502                                    ^\a    \2575 \a   src/style/sass/_community.scss 27:35  @import\a   src/style/sass/style.scss 67:79       root stylesheet';
}
