.cabecalho {
  display: grid;
  grid-template-columns: 0.9fr 2.5fr 0.9fr;
  align-items: center;
  gap: 2.5rem;
}
.cabecalho__logo {
  background-image: url(../../image/Logo.svg);
  width: 145px;
  height: 34.05px;
}
.cabecalho__busca {
  width: 100%;
  flex-grow: 2;
  max-width: 752px;
  height: 56px;
  border-radius: 8px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.16);
  border: none;
  outline: none;
  padding: 1rem;
  color: inherit;
  box-sizing: border-box;
  justify-self: center;
}
.cabecalho__usuario {
  justify-self: end;
  width: 106px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cabecalho__usuario .usuario__foto {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.cabecalho__usuario .usuario__foto {
  font-size: 1rem;
}

.projeto {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 0.9fr 2.5fr 0.9fr;
  box-sizing: border-box;
  gap: 2.5rem;
}

.menu-lateral {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 189px;
}
.menu-lateral__titulo {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
.menu-lateral__item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.menu-lateral__item--inativo {
  color: #919ca9;
}
.menu-lateral__link {
  border-radius: 16px;
  width: 48px;
  height: 48px;
  margin-right: 1rem;
  transition: opacity 0.2s linear;
}
.menu-lateral__link:hover {
  opacity: 0.64;
}
.menu-lateral__link--editor {
  background: url(../../image/editorAtivo.svg) no-repeat center #5081FB;
}
.menu-lateral__link--editor-inativo {
  background: url(../../image/editorAtivo.svg) no-repeat center #5081FB;
  opacity: 0.16;
}
.menu-lateral__link--comunidade {
  background: url(../../image/comunidadeAtivo.svg) no-repeat center #5081FB;
}
.menu-lateral__link--comunidade-inativo {
  background: url(../../image/comunidadeAtivo.svg) no-repeat center #5081FB;
  opacity: 0.16;
}

.dados-projeto {
  max-width: 272px;
  display: flex;
  flex-direction: column;
  justify-self: end;
  width: 100%;
}
.dados-projeto__titulo {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.dados-projeto__nome {
  border-radius: 8px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.16);
  border: none;
  outline: none;
  padding: 1rem;
  color: inherit;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.dados-projeto__descricao {
  border-radius: 8px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.16);
  border: none;
  outline: none;
  padding: 1rem;
  color: inherit;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  height: 80px;
}
.dados-projeto__linguagem {
  border-radius: 8px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.16);
  border: none;
  outline: none;
  padding: 1rem;
  color: inherit;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.dados-projeto__cor {
  border-radius: 8px;
  width: 100%;
  height: 56px;
  background-color: #051D3B;
}
.dados-projeto__botao {
  margin-top: 2.5rem;
  border-radius: 8px;
  padding: 1rem;
  border: none;
  line-height: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #5081FB;
  color: #051D3B;
}

.projeto-codigo {
  justify-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  max-width: 752px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
}
.projeto-codigo__container {
  box-sizing: border-box;
  height: 366px;
  display: flex;
  flex-direction: column;
  background-color: #6Bd1FF;
  padding: 2rem;
  border-radius: 8px;
}
.projeto-codigo .circulos {
  display: flex;
  height: 52px;
  background-color: #141414;
  border-radius: 8px 8px 0 0;
  padding-top: 1rem;
  width: 100%;
}
.projeto-codigo .circulos__vermelho {
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.projeto-codigo .circulos__amarelo {
  background-color: yellow;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 0.5rem;
}
.projeto-codigo .circulos__verde {
  background-color: green;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 0.5rem;
}
.projeto-codigo__code-area {
  box-sizing: border-box;
  height: 302px;
  width: 100%;
  background-color: #141414;
  padding: 0 1rem;
  border-radius: 0 0 8px 8px;
  overflow-x: auto;
}
.projeto-codigo__editor {
  color: #FFFFFF;
  background-color: #141414;
  display: block;
  height: 90%;
  line-height: 1.5rem;
  width: 100%;
  max-height: 260px;
  overflow-y: auto;
  overflow-x: auto;
  outline: none;
  white-space: pre;
}
.projeto-codigo__botao {
  margin-top: 2rem;
  border-radius: 8px;
  padding: 1rem;
  border: none;
  line-height: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgba(80, 129, 251, 0.08);
  color: #FFFFFF;
}
.projeto-codigo .hljs {
  box-sizing: border-box;
}

.projeto__comunidade {
  display: grid;
  grid-template-columns: 0.88fr 3fr;
  gap: 0;
}

.social-conatainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.projeto-codigo--social {
  max-width: 520px;
  max-height: 464px;
}

.projeto-codigo__container--social {
  max-height: 288px;
}

.projeto-codigo__dados {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  background-color: rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}
.projeto-codigo__dados .projeto-codigo__titulo {
  margin-top: 1.5rem;
  font-size: 1.313rem;
  font-weight: 700;
  line-height: 31, 5px;
}
.projeto-codigo__dados .projeto-codigo__descricao {
  margin-top: 0.5rem;
  opacity: 0.8;
  line-height: 24px;
}
.projeto-codigo__dados .descricao__social {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 1fr;
  align-items: center;
  max-height: 244px;
  padding: 0.875rem;
}
.projeto-codigo__dados .descricao__social .social__comentarios {
  background: url(../../image/comments.svg) no-repeat;
  background-size: 20px;
  padding-left: 1.9rem;
  grid-column: 1;
  height: 20px;
}
.projeto-codigo__dados .descricao__social .social__like {
  background: url(../../image/like.svg) no-repeat;
  background-size: 20px;
  padding-left: 1.9rem;
  grid-column: 2;
  height: 20px;
  justify-self: start;
}

body {
  background-color: #051D3B;
  font-family: "Inter", sans-serif;
  color: white;
  margin: 2rem;
  border-radius: 40px;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
