.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabecalho__logo {
  background-image: url(../../image/Logo.svg);
  width: 145px;
  height: 34.05px;
}
.cabecalho__busca {
  flex-grow: 2;
  max-width: 752px;
  height: 56px;
  border-radius: 8px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.16);
  border: none;
  outline: none;
  padding: 1rem;
  color: inherit;
  box-sizing: border-box;
  margin-right: 2.9%;
}
.cabecalho__usuario {
  width: 106px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cabecalho__usuario .usuario__foto {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.cabecalho__usuario .usuario__foto {
  font-size: 1rem;
}

.projeto {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.menu-lateral {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 189px;
  margin-right: 8.9%;
}
.menu-lateral__titulo {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
.menu-lateral__item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.menu-lateral__item--inativo {
  color: #919ca9;
}
.menu-lateral__link {
  width: 48px;
  height: 48px;
  margin-right: 1rem;
}
.menu-lateral__link--editor {
  background: url(../../image/editorAtivo.png);
}
.menu-lateral__link--comunidade {
  background: url(../../image/comunidade.png);
}

.dados-projeto {
  max-width: 272px;
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
  flex-grow: 1;
}
.dados-projeto__titulo {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.dados-projeto__nome {
  border-radius: 8px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.16);
  border: none;
  outline: none;
  padding: 1rem;
  color: inherit;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.dados-projeto__descricao {
  border-radius: 8px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.16);
  border: none;
  outline: none;
  padding: 1rem;
  color: inherit;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  height: 80px;
}
.dados-projeto__linguagem {
  border-radius: 8px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.16);
  border: none;
  outline: none;
  padding: 1rem;
  color: inherit;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.dados-projeto__cor {
  border-radius: 8px;
  width: 100%;
  height: 56px;
  background-color: #051D3B;
}
.dados-projeto__botao {
  margin-top: 2.5rem;
  border-radius: 8px;
  padding: 1rem;
  border: none;
  line-height: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #5081FB;
  color: #051D3B;
}

.projeto-codigo {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  max-width: 752px;
  /*  position: absolute;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, 0); */
}
.projeto-codigo__container {
  box-sizing: border-box;
  height: 366px;
  display: flex;
  flex-direction: column;
  background-color: #6Bd1FF;
  padding: 2rem;
  border-radius: 8px;
}
.projeto-codigo .circulos {
  display: flex;
  height: 52px;
  background-color: #141414;
  border-radius: 8px 8px 0 0;
  padding-top: 1rem;
}
.projeto-codigo .circulos__vermelho {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.projeto-codigo .circulos__amarelo {
  width: 12px;
  height: 12px;
  background-color: yellow;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.projeto-codigo .circulos__verde {
  width: 12px;
  height: 12px;
  background-color: green;
  border-radius: 50%;
}
.projeto-codigo__editor {
  margin-top: 0;
  resize: none;
  border: none;
  background-color: #141414;
  color: #FFFFFF;
  border-radius: 0 0 8px 8px;
  outline: none;
  height: 100%;
  padding: 0 1rem;
}
.projeto-codigo__botao {
  margin-top: 2rem;
  border-radius: 8px;
  padding: 1rem;
  border: none;
  line-height: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgba(80, 129, 251, 0.08);
  color: #FFFFFF;
}

body {
  background-color: #051D3B;
  font-family: "Inter", sans-serif;
  color: white;
  margin: 2rem;
  border-radius: 40px;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
